{% extends "base.html" %}

{% fn my_func(s: &str) -> String {
    let mut out = "OOF".to_string();
    out.push_str(s);
    out
} %}

{% macro my_mac() %}
    INSIDE MY MAC
{% end %}

{% block head %}
    {% super() %}
    overwrites
{% end %}

{% block header %}
    {% for i in 0..10 %}
        {% match i %}
            {% when 2 if i != 0 %}
                {% i.json() %}
            {% when 3 | 4 %}
                {% a.escape() %}
            {% when _ %}
        {% end %}
    {% end %}
{% end %}

{% block main %}
    {% "Hello Word" %}
    {% include "other.html" %}
    {% a %}
{% end %}

{% block footer %}
    {% call my_mac() %}
    {% let s = r#"MYSTR%}"#; %}
    {% my_func(s) %}
{% end %}
